/* Resets */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Noto Sans", serif;
    color: white;
}

/* Logo and Navigation */

header {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
    padding-top: 2%;
    z-index: 10;
}

.logo h2 {
    font-family: "Monoton", serif;;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
}

nav a {
    color: white;
    text-decoration: none;
    padding-inline: 1rem;
    font-size: 20px;
}

/* Button styling */

.button {
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    padding-block: 10px;
    padding-inline: 20px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    z-index: 100;
}


/* Intro section */

.intro-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url(/images/header-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.intro-section h1 {
    margin-top: 8rem;
    font-size: 32px;
}

.intro-section h2 {
    font-size: 22px;
    max-width: 40%;
    
}

hr {
    color: white;
    width: 48rem;
}

/* Product section */

.products-section {
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.product-cards {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 33rem;
    width: 23rem;
    margin-top: 5rem;
}

.product-cards h2 {
    font-size: 2rem;
    padding-bottom: 11rem;
}

.product-cards a {
    margin-bottom: 1rem;
}

#lerret {
    background-image: url(/images/lerret.jpg);
}

#akvarell {
    background-image: url(/images/akvarell.jpg);
}

#mosaikk {
    background-image: url(/images/mosaikk.jpg);
}

#lerret, #akvarell, #mosaikk {
    background-size: cover;
    background-position: 100%;
}
/* Scroll snapper */

#scroll-wrapper {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-top: -8.6rem;
}

#scroll-section {
    height: 100%;
    scroll-snap-align: center;
}


/* Galleri section */

.galleri-section {
    margin: auto;
    background-image: url(/images/galleri.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.galleri-cardsec {
    display: flex;
    flex-direction: row;
}

.galleri-cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 25rem;
    width: 25rem;
    margin-top: 8rem;
    margin-inline: 3rem;
}

.galleri-section h2 {
    padding-top: 5rem;
    font-size: 4rem;
}

#gal-card1 {
    background-image: url(/images/mosaikk-card.jpg);
}

#gal-card2 {
    background-image: url(/images/painting-card.jpg);
}

#gal-card3 {
    background-image: url(/images/woman-card.jpg);
}

#gal-card1, #gal-card2, #gal-card3 {
    background-size: cover;
    background-position: 60%;
}

/* Feedback section */

.feedback-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.feedback-cardsec {
    display: flex;
    flex-direction: row;

}

.feedback-cards {
    display: flex;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 23rem;
    width: 23rem;
    margin-top: 8rem;
    margin-inline: 3rem;
    border-radius: 20px;
    color: black;
    text-align: center;
    justify-content: space-around;
}


.feedback-cards img {
    display: flex;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.feedback-text {
    max-width: 80%;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 60%;
    margin-bottom: 1rem;
    margin-top: 8rem;
}

footer hr {
    width: 75vw;
    margin-block: 10px;
}

footer h2 {
    font-family: "Monoton", serif;;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
}